In [1]:
import pandas as pd

#### CMU dataset

Link to download the data: https://www.cs.cmu.edu/~ark/personas/

In [2]:
df_cmu_movie_metadata = pd.read_csv('../data/cmu/movie.metadata.tsv', sep='\t', header=None)
df_cmu_movie_metadata.columns = ['wikipedia_movie_id', 'freebase_movie_id', 'name', 'release_date', 'revenue', 'runtime', 'languages', 'countries', 'genres']
df_cmu_movie_metadata.sample(5)

,wikipedia_movie_id,freebase_movie_id,name,release_date,revenue,runtime,languages,countries,genres
23753,17833519,/m/047f43s,Alice Upside Down,2008,NaN,90.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/03k9fj"": ""Adventure"", ""/m/0hj3myq"": ""Chil..."
55943,29526015,/m/0ds51kx,Les Morfalous,1984-03-28,NaN,95.0,{},"{""/m/0f8l9c"": ""France""}","{""/m/02kdv5l"": ""Action"", ""/m/03k9fj"": ""Adventu..."
52604,22362201,/m/05t0qcp,The Trials of Oz,NaN,NaN,90.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/07s9rl0"": ""Drama""}"
39457,31029555,/m/0gg60cs,La comadrita,1975,NaN,NaN,"{""/m/06nm1"": ""Spanish Language""}","{""/m/0b90_r"": ""Mexico""}","{""/m/05p553"": ""Comedy film"", ""/m/0hqxf"": ""Fami..."
31746,23687904,/m/06zm5w2,Ingiusta condanna,1952,NaN,NaN,"{""/m/02bjrlw"": ""Italian Language""}","{""/m/03rjj"": ""Italy""}","{""/m/02l7c8"": ""Romance Film"", ""/m/07s9rl0"": ""D..."

In [3]:
df_cmu_plot_summaries = pd.read_csv('../data/cmu/plot_summaries.txt', sep='\t', header=None)
df_cmu_plot_summaries.columns = ['wiki_id', 'summary']
df_cmu_plot_summaries.sample(5)

        wiki_id                                            summary
1795    6691211  The story begins with a dramatisation of the I...
25319  13870073  The movie begins with grizzly bear cub, Grisel...
5705   20002742  The film focuses on a group of students from L...
32715   5843617  When King Charles I is captured by Roundhead f...
36228   2471946  A Hollywood film composer is found dead. The p...

In [4]:
df_cmu_character_metadata = pd.read_csv('../data/cmu/character.metadata.tsv', sep='\t', header=None)
df_cmu_character_metadata.columns = [
    "wikipedia_movie_id", "freebase_movie_id", "movie_release_date", "character_name",
    "actor_date_of_birth", "actor_gender", "actor_height_in_meters", "actor_ethnicity_freebase_id",
    "actor_name", "actor_age_at_movie_release", "freebase_character_actor_map_id",
    "freebase_character_id", "freebase_actor_id"
]

df_cmu_character_metadata.sample(5)

,wikipedia_movie_id,freebase_movie_id,movie_release_date,character_name,actor_date_of_birth,actor_gender,actor_height_in_meters,actor_ethnicity_freebase_id,actor_name,actor_age_at_movie_release,freebase_character_actor_map_id,freebase_character_id,freebase_actor_id
306652,2093587,/m/06lpgy,1998-01-30,Captain Jeremiah Cassidy,1946-06-01,M,1.76,/m/02g7sp,Brian Cox,51.0,/m/02vcvx2,/m/0h5kc59,/m/02xs5v
119283,35571488,/m/0jky03h,2012-06-06,La cliente économe,NaN,F,NaN,NaN,Jacqueline Emptoz Lacôte,NaN,/m/0k3f8tq,/m/0k3f8tt,/m/0k3f8v0
447700,3860879,/m/0b3rcm,2004-04-09,Song Yeon-Hwa,1978-01-03,F,1.70,/m/01xhh5,Park Sol-mi,26.0,/m/02vb8qy,/m/0j8z1n3,/m/04hyg5
221162,2942414,/m/08f64_,1980-09-12,NaN,1939,M,NaN,NaN,Stefan Gryff,41.0,/m/0byctq8,NaN,/m/0ksl1k
156308,381543,/m/021nl9,1995-09-08,NaN,1955-03-17,M,1.70,NaN,Mark Boone Junior,40.0,/m/0cs9mnp,NaN,/m/08g24q

#### Tropes dataset

Link to download the data: https://drive.google.com/file/d/1Duyz5ATlLHzwMidj15bWVnWHpdE4aRXn/view?usp=sharing

In [5]:
df_tropes = pd.read_csv('../data/tropes/tropes.csv', index_col=0)
df_tropes.columns = ['trope_id', 'trope', 'description']
df_tropes.sample(5)

,trope_id,trope,description
16352,t16353,Orichalcum,Orichalcum is a legendary precious metal that ...
10152,t10153,HesGotAWeapon,"""He's got a weapon!"" is the cry of panic made ..."
3440,t03441,CeilingCling,\nA character avoids pursuit or detection by h...
17397,t17398,PortalBook,We've all heard the metaphor that books are a ...
4885,t04886,CueCard,A character holds up a cue card for another ch...

In [6]:
df_imdb_movie_tropes = pd.read_csv('../data/tropes/film_imdb_match.csv', index_col=0)
df_imdb_movie_tropes.columns = ['title', 'trope', 'example', 'clean_title', 'tconst', 'trope_id', 'title_id']
df_imdb_movie_tropes = df_imdb_movie_tropes.drop(columns=['trope'])
df_imdb_movie_tropes.head()

,title,example,clean_title,tconst,trope_id,title_id
0,ABBATheMovie,The concert segments make it clear that Agnet...,abbathemovie,tt0075617,t14656,f0
1,ABBATheMovie,The radio station manager that tasks Ashley w...,abbathemovie,tt0075617,t11527,f0
2,ABBATheMovie,A rare male example; when Benny reads one new...,abbathemovie,tt0075617,t23019,f0
3,ABBATheMovie,During Ashley's fantasy sequence in which he ...,abbathemovie,tt0075617,t09016,f0
4,ABBATheMovie,"Frida's outfit in the ""Why Did It Have to Be ...",abbathemovie,tt0075617,t25994,f0

In [7]:
df_imdb_movie_tropes = df_imdb_movie_tropes.merge(df_tropes, how='inner', left_on='trope_id', right_on='trope_id')
df_imdb_movie_tropes = df_imdb_movie_tropes[['tconst', 'title_id', 'clean_title', 'trope_id', 'trope', 'description', 'example']]
df_imdb_movie_tropes.rename(columns={'tconst': 'imdb_id'}, inplace=True)
df_imdb_movie_tropes.head()

,imdb_id,title_id,clean_title,trope_id,trope,description,example
0,tt0075617,f0,abbathemovie,t14656,MsFanservice,\nA female character who provides a significan...,The concert segments make it clear that Agnet...
1,tt0075617,f0,abbathemovie,t11527,InsistentTerminology,"\nHey, we aren't ""describing"" Insistent Termin...",The radio station manager that tasks Ashley w...
2,tt0075617,f0,abbathemovie,t23019,TheIngenue,\nThe Ingenuenote pronounced ON-jeh-noo is a y...,A rare male example; when Benny reads one new...
3,tt0075617,f0,abbathemovie,t09016,GettingCrapPastTheRadar,\n\nGetting Crap Past the Radar refers to inst...,During Ashley's fantasy sequence in which he ...
4,tt0075617,f0,abbathemovie,t25994,WhoWearsShortShorts,"\nHot pants, mini shorts, or daisy dukes? What...","Frida's outfit in the ""Why Did It Have to Be ..."

In [8]:
K = 10
top_k_tropes = df_imdb_movie_tropes['trope'].value_counts().reset_index().head(K)
top_k_tropes

               trope  count
0           ShoutOut   1151
1        HorrorFilms   1072
2    FilmsOfThe1980s    771
3             OhCrap    719
4        ChekhovsGun    716
5             BigBad    635
6      Foreshadowing    627
7     DeadpanSnarker    555
8           TheCameo    552
9  BittersweetEnding    513

#### IMDB dataset

Link to download the data: https://developer.imdb.com/non-commercial-datasets/, download the title.basics.tsv.gz file

In [9]:
df_imdb = pd.read_csv('../data/imdb/title.basics.tsv', sep='\t')
df_imdb.sample(5)

C:\Users\jiana\AppData\Local\Temp\ipykernel_21552\2761596011.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_imdb = pd.read_csv('../data/imdb/title.basics.tsv', sep='\t')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
100803,tt0103117,movie,Transformator,Transformator,0,1991,\N,\N,\N
7377545,tt30782015,tvEpisode,A SIGN FROM THE /CREATOR/,A SIGN FROM THE /CREATOR/,0,2023,\N,\N,Horror
3113975,tt13934700,tvEpisode,Episode #1.2,Episode #1.2,0,2020,\N,\N,Talk-Show
5762153,tt2252583,tvEpisode,Der Preis der Liebe,Der Preis der Liebe,0,2000,\N,\N,Drama
4013596,tt15597038,tvEpisode,2. juli 2015,2. juli 2015,0,2015,\N,\N,News

#### TMDB dataset

Link to download the data: https://www.kaggle.com/datasets/asaniczka/tmdb-movies-dataset-2023-930k-movies?resource=download

In [ ]:
df_tmdb = pd.read_csv('../data/tmdb/TMDB_movie_dataset_v11.csv')
df_tmdb.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [11]:
df_tmdb.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

##### Merge IMDB and Tropes datasets

In [12]:
# tropes with imdb ids matched
df_imdb_movie_tropes.head()

,imdb_id,title_id,clean_title,trope_id,trope,description,example
0,tt0075617,f0,abbathemovie,t14656,MsFanservice,\nA female character who provides a significan...,The concert segments make it clear that Agnet...
1,tt0075617,f0,abbathemovie,t11527,InsistentTerminology,"\nHey, we aren't ""describing"" Insistent Termin...",The radio station manager that tasks Ashley w...
2,tt0075617,f0,abbathemovie,t23019,TheIngenue,\nThe Ingenuenote pronounced ON-jeh-noo is a y...,A rare male example; when Benny reads one new...
3,tt0075617,f0,abbathemovie,t09016,GettingCrapPastTheRadar,\n\nGetting Crap Past the Radar refers to inst...,During Ashley's fantasy sequence in which he ...
4,tt0075617,f0,abbathemovie,t25994,WhoWearsShortShorts,"\nHot pants, mini shorts, or daisy dukes? What...","Frida's outfit in the ""Why Did It Have to Be ..."

In [13]:
# merge imdb titles basics information with tropes
df_movie_tropes = pd.merge(df_imdb_movie_tropes, df_imdb, how='inner', left_on='imdb_id', right_on='tconst')

In [14]:
print("-------" * 10)
print(f"imdb shape: {df_imdb.shape}")
print(f"movie tropes imdb shape: {df_imdb_movie_tropes.shape}")
print(f"movie tropes merged with imdb dataset shape: {df_movie_tropes.shape}")
print("-------" * 10)

df_movie_tropes.head()

----------------------------------------------------------------------
imdb shape: (11233512, 9)
movie tropes imdb shape: (390511, 7)
movie tropes merged with imdb dataset shape: (390408, 16)
----------------------------------------------------------------------

,imdb_id,title_id,clean_title,trope_id,trope,description,example,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0075617,f0,abbathemovie,t14656,MsFanservice,\nA female character who provides a significan...,The concert segments make it clear that Agnet...,tt0075617,movie,ABBA: The Movie,ABBA: The Movie,0,1977,\N,95,"Comedy,Documentary,Music"
1,tt0075617,f0,abbathemovie,t11527,InsistentTerminology,"\nHey, we aren't ""describing"" Insistent Termin...",The radio station manager that tasks Ashley w...,tt0075617,movie,ABBA: The Movie,ABBA: The Movie,0,1977,\N,95,"Comedy,Documentary,Music"
2,tt0075617,f0,abbathemovie,t23019,TheIngenue,\nThe Ingenuenote pronounced ON-jeh-noo is a y...,A rare male example; when Benny reads one new...,tt0075617,movie,ABBA: The Movie,ABBA: The Movie,0,1977,\N,95,"Comedy,Documentary,Music"
3,tt0075617,f0,abbathemovie,t09016,GettingCrapPastTheRadar,\n\nGetting Crap Past the Radar refers to inst...,During Ashley's fantasy sequence in which he ...,tt0075617,movie,ABBA: The Movie,ABBA: The Movie,0,1977,\N,95,"Comedy,Documentary,Music"
4,tt0075617,f0,abbathemovie,t25994,WhoWearsShortShorts,"\nHot pants, mini shorts, or daisy dukes? What...","Frida's outfit in the ""Why Did It Have to Be ...",tt0075617,movie,ABBA: The Movie,ABBA: The Movie,0,1977,\N,95,"Comedy,Documentary,Music"

In [15]:
df_movie_tropes.to_csv('../data/movie_tropes.csv', index=False)

#### Merge CMU and TMDB datasets

In [16]:
df_cmu_movie_metadata.columns

Index(['wikipedia_movie_id', 'freebase_movie_id', 'name', 'release_date',
       'revenue', 'runtime', 'languages', 'countries', 'genres'],
      dtype='object')

In [17]:
df_tmdb.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [18]:
# merge cmu movie metadata with tmdb dataset to fill in missing information such as revenue which has a lot of missing values
df_cmu_movie_metadata = df_cmu_movie_metadata[['wikipedia_movie_id', 'freebase_movie_id', 'name']]
df_cmu_tmdb = pd.merge(df_tmdb, df_cmu_movie_metadata, how='inner', left_on='title', right_on='name')

print("-------" * 10)
print(f"CMU Movie Summary Corpus shape: {df_cmu_movie_metadata.shape}")
print(f"TMDB shape: {df_tmdb.shape}")
print(f"CMU TMDB merged dataframe shape: {df_cmu_tmdb.shape}")
print("-------" * 10)

df_cmu_tmdb.head()

----------------------------------------------------------------------
CMU Movie Summary Corpus shape: (81741, 3)
TMDB shape: (1131886, 24)
CMU TMDB merged dataframe shape: (201344, 27)
----------------------------------------------------------------------

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords,wikipedia_movie_id,freebase_movie_id,name
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",23270459,/m/0661ql3,Inception
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",6009939,/m/0fkf28,Interstellar
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",4276475,/m/0btpm6,The Dark Knight
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",4273140,/m/0bth54,Avatar
4,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",29448256,/m/0dr_b26,Avatar

In [19]:
df_cmu_tmdb.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords', 'wikipedia_movie_id', 'freebase_movie_id', 'name'],
      dtype='object')

In [20]:
df_cmu_tmdb.to_csv('../data/cmu_tmdb.csv', index=False)